{% extends "__base_template.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Мои книги:</h1>
        {% if books_list %}
        <ul class="card-text">
            {% for book in books_list %}
            <li><h4><b><a href="/book/{{ book.id }}"> <font face="Helvetica" color="Brown">{{book.title}}</font></a></b></h4>
                <img src={{book.link}} alt="Ошибка загрузки картики">

                {% if auth_user and auth_user.id == book.user_id %}
                (<a href="/book/delete/{{ book.id }}"> <font face="Helvetica" color="Red">Удалить книгу</font></a>)
                <p></p>
                <p></p>

                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        Книг пока нет
        {% endif %}
        {% if auth_user %}
        <a href="/book/create" class="card-link">Создать</a>
        {% endif %}
    </div>
</div>
{% endblock %}