{% extends "__base_template.html" %}

{% block content %}
<form
        action="/book/create"
        method="post"
        enctype="multipart/form-data"

        class="card"
>
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="form-group">
            <label for="{{ form.title.id }}">{{ form.title.label }}</label>
            {{ form.title(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id }}">{{ form.author.label }}</label>
            {{ form.author(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.content.id }}">{{ form.content.label }}</label>
            {{ form.content(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.link.id }}">{{ form.link.label }}</label>
            {{ form.link(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}
