<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >
    <title>{{title}}</title>
</head>
<body>
{% if auth_user %}
{{ auth_user.login }} (<a href="/logout">Выйти</a>)
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/dark_index" class="navbar-brand">Главная</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/user/dark_create" class="nav-link">Темная тема</a>
            </li>
            <li class="nav-item">
                <a href="/user/create" class="nav-link">Светлая тема</a>
            </li>
        </ul>
    </div>
    {% endif %}
    {% if auth_user %}
    {{ auth_user.login }} (<a href="/logout">Выйти</a>)
    {% else %}
    <div class="p-3">
        <a href="/dark_login">Войти</a>
    </div>
    <div class="p-3">
        <a href="/user/dark_create">Зарегистрироваться</a>
    </div>
    {% endif %}
</nav>
<div class="container pt-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>


    <style>
      body { background: url(static/,.jpg); }
    </style>

<form action="/user/dark_create" method="post" enctype="multipart/form-data" class="card">

    {% if has_error %}
    <div class="alert alert-danger">Пользователь с таким именем уже существует</div>
    {% endif %}
    {{ form.hidden_tag() }}

    <div class="card-body">
        <div class="form-group">
            <label for="{{ form.username.id }}">{{ form.username.label }}</label>
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id }}">{{ form.password.label }}</label>
            {{ form.password(class_="form-control") }}
        </div>
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>



